/*index.html*/

/*To add css to an html webpage you have to add a css stylesheet by opening a new file in the project folder and naming it styles.css. 
Once it's created you have to link it to each html page within the <head> tag of the boilerplate.*/

/*Page 1*/
body {
    background-color: rgb(248, 220, 202);
    font-size: 1rem;
}

.landscape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    height: auto;
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(235, 184, 152);
    border-radius: 5px;
}

/*Using margin-left/right above centered my images and hr. I've even styled the hr
by playing with the border and background-color.*/

hr {
    height: 3px;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(235, 184, 152);
    color: #977661d6;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*As you can see, I used a combination of different selectors to style my page. I used element selectors (hr *above* nav *below*), 
class selectors (.landscape *above*), id selectors (#medicinal *below*), and pseudo selectors (nav :hover *below*). */

#medicinal {
    color: #2d8366;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 1px 1px #686D8C;
}

/*The nav element contains all of the navigational links and the styling of them. Within nav is the styling for the hover feature,
button styling (button ids). I copied and pasted this whole section to each page to keep things consistent.*/

nav {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2d8366;
    font-size: medium;
}

nav :hover {
    color: #46a686;
}

.button {
    background-color: rgb(248, 206, 180);
    border-style: outset;
    border-width: 3px;
    border-color: rgb(235, 184, 152);
    padding: 3px 4px;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: #2d8366;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: lighter;
}





/*Page 2*/

/*For my page header I used a few different styling tags to create the frame and center it on the page.*/
.head {
    color: #2d8366;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 1px 1px #686D8C;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(235, 184, 152);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #F2E9C6;
}

#ocotillo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 250px;
    border-style: ridge;
    border-width: 1cap;
    border-color: rgb(235, 184, 152);
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

/*For the following selectors I used flexbox to place my sections where I wanted.*/

.why1, .list1-1, .list2-1 {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*above classes are divs around an entire section of content and I used justify-content to 
place it in the center of the page. Because all of the text on this page is going to be the same
I placed the font family in these divs instead of each individual class below.*/

.why {
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.why-plants-heading {
    text-decoration: underline;
    padding: 20px;
    margin-right: 20px;
}

.why-p {
    width:40%;
    align-items: center;
}

/*The why, list1, and list2 classes contain the information within the larger div from above.
I used flexbox here slightly differently, deciding to go with :space-around which separated the three
individual content classes and put some space around each. I adjusted padding, width, alignment to get different
elements where I wanted them. */

.list1, .list2 {
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.plant-use-list, .warning-list {
    width: 600px;
    align-items: center;
}

#salve, #tincture {
    width: 250px;
    border-style: ridge;
    border-width: 1cap;
    border-color: rgb(235, 184, 152);
    border-radius: 5px;
}

.warning-heading {
    text-align: left;
}





/*Page 3*/
.collage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 180px;
    border-style: ridge;
    border-width: 1cap;
    border-color: rgb(235, 184, 152);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.image-collage {
    width: 20%;
    height: auto;
}

/*Both image banners are formatted the same, using flexbox. First I put all the individual images in a div, classed "collage". The images were in their
own class (.image-collage) so that I could make them the size I wanted. Then I placed them where I wanted on the page with the .collage div, using flexbox.
Justify-content centered them, flex-direction makes them a row and not a column. Justify-content put the images where I wanted, but margin-left/right: auto; placed the
larger element in the center of the page. */

#hr-pg3 {
    margin-bottom: 30px;
}

caption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4cap;
    font-weight: bold;
    color: #2d8366;
    text-align: center;
    text-shadow: 1px 1px hsl(160, 49%, 25%);

}
table {
    background-color: #F2E9C6;
    border-style: groove;
    border-width: 1cap;
    border-color: rgb(175, 224, 166);
    position: relative;
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1c5240;
    padding: 20px;
}

/*Once again, in the table all of my text was going to be the same font, so instead of putting it in each tr, or td, I placed it in the larger table. I styled
the whole table, adjusting font-size, borders, aligning text.*/

th, td {
    border-style: 2px solid #1c5240;
    padding: 9px;
}

th {
    height: 40px;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #1c5240;
}

tr {
    height: 40px;
    font-size: larger;
    border-style: solid;
}

#warning {
    text-align: center;
    font-size: larger;
    color: #1c5240;
}

footer {
    background-color: #F2E9C6;
    width: 800px;
    height: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    border: #2d8366 double 5px;
    padding: 5px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}